@model Demo_CNPM.Models.Hàng_Hóa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 style="text-align: center">CHI TIẾT SẢN PHẨM</h2>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4" style="border: 1px solid #b1154a"> <img id="main-image" src="~/Images/@Model.Hinh_anh" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                            <div class="mt-4 mb-3">
                                <h5 class="text-uppercase">Tên sản phẩm: @Model.Tên</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Số_Lượng)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Số_Lượng)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Giá_mua)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Giá_mua) VND
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Giá_bán)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Giá_bán) VND
                                        </dd>
                                        <dt>
                                            Đơn vị tính
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ĐVT.Tên)
                                        </dd>

                                        <dt>
                                            Loại
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Loại.Tên)
                                        </dd>

                                    </dl>
                                </div>
                                <div class="cart mt-4 align-items-center">
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new
                                    {
                                         @class = "btn btn-success"
                                            }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
