@model Demo_CNPM.Models.Hàng_Hóa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    /* Tạo khung viền cho phần chi tiết */
    .dl-horizontal {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Tùy chỉnh kiểu chữ cho các phần tử dt và dd */
    dl.dt-horizontal dt,
    dl.dt-horizontal dd {
        display: inline-block;
        margin-right: 10px; /* Khoảng cách giữa cặp dt và dd */
        font-weight: bold;
        color: #333;
    }

    /* Tạo hover effect cho nút Edit */
    .btn-success:hover {
        background-color: #4CAF50;
    }

    /* Tạo hover effect cho nút Back */
    .btn-back:hover {
        background-color: #ccc;
    }
</style>


<h2>Details</h2>
<div>
    <h4>Hàng_Hóa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tên)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tên)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giá_mua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giá_mua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giá_bán)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giá_bán)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SL_ton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SL_ton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh_anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh_anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ĐVT.Tên)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ĐVT.Tên)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loại.Tên)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loại.Tên)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
