@model IEnumerable<Demo_CNPM.Models.Hóa_đơn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<a href="@Url.Action("Create")" class="btn btn-primary" style="height:60px">Create New</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ngày_bán)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tổng_SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tổng_tiền)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhân_viên.Tên)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngày_bán, "{0:yyyy-MM-dd HH:mm:ss}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tổng_SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tổng_tiền)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhân_viên.Tên)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Details", new { id=item.ID })" class="btn btn-info">Details</a>
                <a href="@Url.Action("Delete", new { id=item.ID })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>