@model Demo_CNPM.Models.Cart

@{
    ViewBag.Title = "Showcart";
    Layout = "~/Views/Shared/NormaLayout.cshtml";
}

<head>
    <style>
        /* CSS cho nút "Tiếp tục mua hàng" */
        .btn-tieptucmuahang {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #1E90FF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            /* Hiệu ứng hover cho nút "Tiếp tục mua hàng" */
            .btn-tieptucmuahang:hover {
                background-color: #007BFF;
            }
    </style>
</head>

<a href="@Url.Action("Proview","Hàng_Hóa")" class="btn-tieptucmuahang" style="font-size:15px; margin-bottom:10px">Tiếp tục mua hàng</a>
@if (Model != null)
{
    <table calss="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th></th>
                <th>Ảnh</th>
                <th>Giá sản phẩm (VND)</th>
                <th></th>
                <th>Số lượng</th>
                <th></th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                decimal total = item._quantity * (decimal)item._product.Giá_bán;
                <tr>
                    <td>@Html.DisplayFor(model => item._product.Tên)</td>
                    <td></td>
                    <td><img src="~/Images/@item._product.Hinh_anh" height="50" width="50" /></td>
                    <td>@Html.DisplayFor(model => item._product.Giá_bán)VND</td>
                    <td></td>
                    <td>
                        @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._product.ID" name="idPro" />
                            <input type="number" value="@item._quantity" name="CartQuantity" min="0" />
                            <input type="submit" class="btn-tieptucmuahang" style="font-size:10px" value="Cập Nhật" />
                        }
                    </td>
                    <td></td>
                    <td>@total VND</td>
                    <td>
                        <a href="~/ShoppingCart/RemoveCart/@item._product.ID" class="xoa" style="color:aliceblue"> Xoá</a>
                    </td>
                </tr>

            }

        </tbody>
        <tfoot>
            <style>
                .buton {
                    background-color: #1E73BE;
                    width: 70px;
                    height: 80px;
                    font: 40px;
                    border-radius: 5px;
                }

                .xoa {
                    background-color: red;
                    width: 70px;
                    height: 80px;
                    font: 40px;
                    border-radius: 5px;
                }
            </style>
            @if (Model.Total_quantity() != 0)
            {
                <tr>
                    <td colspan="3" style="text-align:right; font-size:x-large; color: crimson;">
                        Tổng tiền : @Model.Total_money().ToString("#,##0").Replace(',', '.')VND
                    </td>
                </tr>

            }

            <tr>
                <td colspan="3">
                    <br />

                </td>
                <td colspan="3"></td>
            </tr>

            @using (Html.BeginForm("CheckOut", "ShoppingCart"))
            {
                @Html.AntiForgeryToken()

                if (Model.Total_quantity() != 0)
                {
                    <input type="submit" value="Thanh toán" class="btn btn-danger" />
                }
                else
                {
                    <p style="color:red;font-size:large; text-align:center"><b>Chưa có Sản phẩm.....Vui lòng chọn sản phẩm !!!!!!</b></p>
                }
            }

        </tfoot>
        
    </table>
    
}
else
{
    @*@Html.Partial("EmptyCart")*@
}

