@model IEnumerable<Demo_CNPM.Models.ĐVT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Danh Mục Đơn Vị Tính</h2>

<p>
    @Html.ActionLink("TẠO MỚI", "Create", null, new
        {
            @class = "btn btn-primary"
        })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tên)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tên)
            </td>
            <td>
                @Html.ActionLink("Edit","Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
